
.main{
  background: linear-gradient(to bottom, #2C2143, #000000);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 21px;
}

.titleMsg{
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}

.notifyBox{
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.notifyMessage{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notifyMessage h3{
  font-size: 29px;
  font-weight: 700;
  line-height: 31.9px;
}

.notifyMessage p{
  font-size: 19px;
  font-weight: 400;
  line-height: 22.99px;
}

.notificationBtn{
  border: 2px solid #6434CE;
  height: 42px;
  width: 327px;
  background-color: #1D103A;
  border-radius: 8px;
  padding: 8px;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
}